@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Play&family=Roboto:ital,wght@1,300;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Play;
    text-align: center;
}

nav{
    background-image:url("../assets/img/photo-1583767417405-2b4497a676c5.avif");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 9.375rem;
    align-items: center;


}
nav a{
    color: aliceblue;
}


.frase1{
    color: #1E2425;
    font-size: 4.0625rem;
    
}
.imagenprincipal img{

        mix-blend-mode:multiply; 
        height: 43.75rem;

}


main{
background-image: url("../assets/img/photo-1465634836201-1d5651b9b6d6\ \(1\).png");
background-size: cover;
}



main h2{
    color: #1E2425;
    font-size: 30px;
    display:flex;
    align-items:center;
    justify-content:center;



}

.img2{
    background-image: url("../assets/img/linus-nylund-UCIZh0-OYPw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 125rem;
}

.img2 img{
    height: 700px;
}
.colores{
    background-color:#1a92ad;
    font-size: 50px;
    letter-spacing: 20px;
    padding: 100px;
    
}
.img3{
    background-image: url("https://images.unsplash.com/photo-1521089815383-cf2b2cf7f0f0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=765&q=80");
    background-size: cover;
    background-position: center;
    height: 300vh;
}
.img3 img{
    height: 50rem;

}

.parrafo1{
    color: black;
}

.parrafo2{
    color:black;
}


.row img{
    width: 100%;
}

.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 5px;
}

.column img{
    margin-top: 5px;
}
@media (max-width: 1024px){
    .column{
        flex: 25%;
    }

}

@media (max-width: 768px){
    .column{
        flex: 50%;
    }

}

@media (max-width: 320px){
    .column{
        flex: 100%;
    }

}


.footer1{
    background-image: url("../assets/img/photo-1595917324416-8ff9f4e73236.avif");
    background-size: cover;
    background-position: bottom;
    height: 12.5rem;
    font-size: 30px;

}
.footer2{
    background-image: url("../assets/img/linus-nylund-UCIZh0-OYPw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 9.375rem;

}
.footer2 img{
    height: 100px;
    margin-top: 50px;
}
