.container404{
    width: 100%;
    h2{
        color: rgb(10, 99, 135);
    }
    .boton{
        padding: 1rem;
        background-color:rgb(10, 99, 135) ;
        color: white;
        font-weight: bold;
        border-radius: .625rem;
        margin-top: 1.25rem;
        a{
            color: white;
        }
        
    }
    img{
        width: 100%;
    }

}
